
mat-form-field{
    width: 100%;
}
.title{
    margin-bottom: 1em;
}
.input-field{
    margin-top: 1em;
}
.custom-buttons{
    margin-top: 2em;
    text-align: center;
    margin-bottom: 3em;

}


.custom-buttons button{
    margin-right: 8px;
}
.customBtn{
    border-radius: 2em;
    outline: 0;
    color: white;

}

.resetButton{
    width: 7em;
    background-color: grey;
}
.submitButton{
    width: 10em;
    background-color: grey;
}  

.closeButton{
    border: 1px solid grey;
    color: grey;
    width: 7em;
}
.customBtn:hover{
    z-index: 10;
    box-shadow: 1px 1px 1px 1px grey;
}

    .example-list{
        margin-top: 10px;
        margin-left: 12px;
        
    }

.pipelineTitle{ 
margin-top: 1.5em;
}
.sub-title{ 
    font-size: 1em !important;
    color: #1F72A4; 
    }


    .selectAll{
        float: right;
        margin-right: 4px;
        margin-top:.45em;
        font-size: 0.83em;
    }
