

.sidenav {
    height: 100vh;
    position: absolute;
    z-index: 10;
    top: 0;
    float: right;
    bottom: 0;
    left: 0; 
    background-color: white;
    overflow-x: hidden;
    /* padding-top: 4em; */
    border-right: 2px solid #2a6592;
    margin-top: 3.5em;
    padding: 1em;
    padding-left: 0px;
    padding-right: 0px;
     transition: 5s; 
  } 

 .sidenav h6{
   text-align: center;
   padding: 10px;
   background-color:#2a6592;
   color: white;
   margin: 0.5em 0 1em 0;
   font-weight: bold;

 }
  .side-menu-item{
      width: 85%;
      text-align: center;
      margin-left: 18px;
      margin-right: 22px; 
      padding: 10px;  
      padding-left: 2px;
      padding-right: 2px;
      font-size: 15px;
      margin-bottom: 15px;
      border: 1px solid lightgrey;
      border-radius: 10px;
      border-top-left-radius: 0px;
      border-bottom-right-radius: 0px;
      cursor: pointer;  
  }
  .side-menu-item:hover{
    transition: 0.3s;
    border: 1px solid white;
    outline: none;

    box-shadow: 0px 0px 0px 1px grey;
  }
  .fa{
      margin-right:5px;
      margin-left: 5px;
      cursor: pointer; 

    }
